.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: top 0ms ease-in-out 300ms;
    display: none;
}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 100ms ease-in-out 200ms;
}

.popup .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.15);
    width: 95%;
    max-width: 350px;
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    opacity: 0;
    box-shadow: 0px 2px 2px 5px rgba(0, 0, 0, 0.05);
    transition: all 300ms ease-in-out;
}

.popup .popup-content h2 {
    margin: 10px 0px;
    font-size: 25px;
    color: #111;
    text-align: center;
}

.popup .popup-content p {
    margin: 15px 0px;
    color: #222;
    font-size: 16px;
    text-align: center;
}

.popup .popup-content .controls {
    display: flex;
    direction: rtl;
    justify-content: space-between;
    margin: 20px 0px 0px;
}

.popup .popup-content .controls button {
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
}

.popup .popup-content .controls .close-btn {
    background: transparent;
    color: #239b56;
}

.popup .popup-content .controls .submit-btn {
    background: #239b56;
    color: #fff;
}

.popup .popup-content .controls .hidden{
    visibility: hidden;
}

.popup.active{
    display: block;
}

.popup.show {
    top: 0;
    transition: top 0ms ease-in-out 0ms;
}

.popup.show .overlay {
    opacity: 1;
    transition: all 300ms ease-in-out 0ms;
}

.popup.show .popup-content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}